<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <link rel="icon" href="{{ url_for('static', filename='graphic/headphones.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginextend.css') }}">
</head>
<body>
    
        <!-- Header with navigation -->
        <header>
            <div class="header-left">
                <a href="/"><img src="{{ url_for('static', filename='graphic/logo.png') }}" alt="FeelTune Logo" class="logo"></a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/recommendation">Recommended</a>
                <a href="/about">About</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </nav>
        </header>

    <div class="auth-container">
        <div class="form-container">
            <h1>Reset Password</h1>
            {% if form.errors %}
                <ul class="text-danger">
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}


            <form method="POST">
                {{ form.hidden_tag() }} 
                <div>
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>
                <div>
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
                <button type="submit" class="get-started-btn">{{ form.submit.label }}</button>
            </form>
            
        </div>
    </div>
        <!-- Footer -->
        <footer>
            <p>&copy; 2025 FeelTune. All rights reserved. | <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
        </footer>
</body>
</html>
