.flash-messages {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.flash-message.success {
    color: #15dd44;
    border: 1px solid #c3e6cb;
}

.flash-message.error {
    color: #ffee00;
    border: 1px solid #f5c6cb;
}
