#playlist-container {
    margin-top: 20px;
}

#playlist {
    list-style-type: none;
    padding: 0;
}

.playlist-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #252525;
    width: 100%;
}

.playlist-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.playlist-image {
    width: 120px;  /* Set image size */
    height: 120px;
    margin-right: 20px;
    border-radius: 8px;
}

.playlist-info a {
    text-decoration: none;
    color: #fffb008c;
    font-weight: bold;
    margin-right: 15px;
}

.playlist-info p {
    margin: 0;
    color: #ffffff;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
